.article {
  position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid white;
  }
  
  .article h3 {
    border-right: 1px solid white;
    padding: 20px;
    text-align: center;
  }
  
  .article h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    text-align: center;
  }

  .article h1 img {
    cursor: pointer;
  }

  .article h1:last-child {
    border-left: 1px solid white;
  }

.medal {
  display: absolute;
  left: -50px;
  border-right: 1px solid white;
}

@media screen and (max-width: 620px){
  .medal {
    width: 70px;
    height: 50px;
    padding: 10px;
  }

  .article h3, .article h1 {
    padding: 0;
  }

  .article h3 {
    font-size: 14px;
  }

  .article h1 {
    font-size: 15px;
  }

  .article h1 img {
    width: 15px;
    height: 15px;
  }
}



@media screen and (max-width: 520px){
  .medal {
    width: 50px;
    height: 40px;
    padding: 10px;
  }

  .article h3, .article h1 {
    padding: 5px;
  }

  .article h3 {
    font-size: 14px;
  }

  .article h1 {
    font-size: 15px;
  }

  .article h1 img {
    width: 12px;
    height: 12px;
  }
}
